* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Slabo 27px', serif; 
    margin: 0;
    padding: 0;
}

p {
    font-size: 2em;
    padding: 0 12em;
}

.small {
    font-size: 1.4em;
}

a {
    color:inherit;
}

.mobile-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.mobile-cell {
    display: table-cell;
    vertical-align: middle;
}

.text-container {
    display:inline-block;
    background:#fff;
    padding:1em;
    color:#303030;
    width:auto;
    margin:0 auto;
}

.white {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-yellow.png");
    background-repeat: repeat;
}

.pink {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-pink.png");
    background-repeat: repeat;
}

.blue {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-blue.png");
    background-repeat: repeat;
}

.orange {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-orange.png");
    background-repeat: repeat;
}

/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width:100vw;
    height: 100vh;
    text-align: center;
}

.modal-body {
    display: block;
    font-size: .7em;
    margin-top: .7em;
}

.alert-close {
    display:block;
    cursor: pointer;
    margin-top:2em;
    font-size: .7em;
}

/* forms */

.field-shift {
    left: -9999px;
    position: absolute;
}

label {
    font-size: 1.6em;
}

input {
    box-sizing: border-box;
    padding: .3em;
    width: 50vw;
    font-family: 'Slabo 27px', serif;
    font-size: 1.4em;
    line-height: 1.6em;
    margin-bottom: 1em;
    border: 0;
    border-radius: .2em;
}

input[type=submit] {
    margin-top: .7em;
}

form {
    margin-top: 1em;
}


@media (max-width: 737px) {
    p {
        padding:2em;
    }
    
    input {
    width: 80vw;
    }
}
