* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 32px;
    padding: 0 0;
    margin-bottom: 24px;
}

p {
    font-family: open sans;
    font-size: 13px;
    padding: 0 0;
    margin:0 auto;
    margin-bottom: 48px;
}

a {
    color:inherit;
    text-decoration: none;    
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 640px;
    height: 400px;
    background: #fafafa;
    background-image: url("john.png");
    background-repeat: no-repeat;
    background-position: right;
}

.mobile-header {
    display: none;
    height: 248px;
    width: 100%;
}

.text-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#fafafa;
    padding:24px;
    color:#303030;
    width:320px;
    height: 320px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #E2E2E2;
}

.button {
    display: block;
    width: auto;
    height: auto;
    padding: 12px 24px;
    box-sizing: border-box;
    background: #dee0D1;
    border-radius: 2px;
}

.white {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-yellow.png");
    background-repeat: repeat;
}

.pink {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-pink.png");
    background-repeat: repeat;
}

.blue {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-blue.png");
    background-repeat: repeat;
}

.orange {
    background-image: url("https://s3-eu-west-1.amazonaws.com/johnmabower.co.uk/square-orange.png");
    background-repeat: repeat;
}



@media (max-width: 737px) {
    p {
        padding:1em;
    }
    
    .container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("john.png");
    background-repeat: no-repeat;
    background-position: top;
    }
    
    .mobile-header {
        display: flex;
        height: 248px;
        width: 100%;
    }
    
    .text-container {
    box-shadow: none;
    }
    
    p {
    margin-bottom: 24px;
    }

}
